{% extends "base.html" %}
{% block crumb %}Yordam{% endblock %}
{% block content %}
<h1>Yordam</h1>
<div class="card">
  <p>Savolingiz yoki muammoyingiz bo'lsa, o'qituvchingizga murojaat qiling.</p>
  <p><b>Ko'p so'raladigan savollar:</b></p>
  <div class="row"><div><b>Kursga qanday yozilaman?</b><br><small style="color:var(--mute)">Kurs sahifasida telefon raqamingizni qoldiring, to'lov tasdiqlangach kirish ochiladi.</small></div></div>
  <div class="row"><div><b>Parolimni unutdim</b><br><small style="color:var(--mute)">O'qituvchingizga murojaat qiling, u admin panel orqali yangi parol belgilaydi.</small></div></div>
</div>
{% endblock %}
